@media screen and (max-width: 1080px) {
    body {}

    .menu
{
   display: flex;
   justify-content: space-between;
   flex-direction: column;

}

#sinscrire
{
    position: absolute;
    top: 0;
    font-weight: bold;
    right:0;
    text-align: right;
    width: auto;
    border-bottom: none;
}

#sinscrire a {

    padding-top: 30px;
    color:#0065FC;
    margin-right: 30px;
}

.lien
{
    border-bottom: 1px solid grey;
}

.lien:active
{
    border-bottom: 2px solid #0065FC;
    border-top: none;

}

.fa-search
{
    display: block;
    border-radius: 10px 10px 10px 10px; 
    background-color: #0065FC;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.boutonSearch
{
    display:none
}

.blocActivites
{
    margin:0px;
}

    .Nav {
        height: auto;
    }
    .liens {
        flex-direction: row;
        order: 1;
        width: 100%;
        margin-left: 0;
    }

    .lien {

        width: 100%;
    }

    #hebergement {
        display: flex;
        flex-direction: column-reverse;
    }
    .detailHebergement {
        min-height: 0px;
    }
    .popu {
        min-height: auto;
        padding: 20px;
    }
    .filtre {
        flex-wrap: wrap;
    }
    .bloctop {
        flex: none;
        width: 90%;
        margin-left: 0;
        padding: 5%;
    }
    .cartes {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0px;
    }
    .container {
        height: auto;
        background-color: white;
    }
    .carte {
        flex: 100%;
        width: 100%;
        height: auto;
    }
    .activites {
        display: flex;
        flex-direction: column;
    }
    .imgvieuxport, .imgfortdepommegue, .imgIlesdufriout, .imgCalanque {
        height: 250px;
    }
    .footerBox {
        flex-direction: column;
    }
    .footer {
        height: auto;
    }

    .margeFiltreTitre 
    {

        flex: 100%;
    }
}