
nav ul 
{
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   justify-content: flex-end;
   
}

nav li
{
   list-style-type: none;
   display: inline-block;
  
}

.container
{
   display: flex;
   flex: 65%;
   background: #F2F2F2;
   flex-direction: column;
   border-radius: 25px;
}

#populaire
{
   
   display: flex;
   flex: 25%;
   background-color: #F2F2F2;
   border-radius: 25px;
   margin: 15px 30px 30px 30px;

}

.navigation
{
   margin: 0px;
   justify-content: flex-end;
   color: black;
}

.menu
{
   display: flex;
   justify-content: space-between;
   border-radius: 25px;

}

#hebergement
{
   display: flex;
   justify-content: space-between;
   
   

}

.cartes
{
   display: flex;
   flex-wrap: wrap;
   border-radius: 25px;
   margin: 15px 30px 15px 15px;

   

}

.carte
{
  flex: 30%;
  border: 1px solid white;
  border-radius: 25px;
  margin-bottom: 1em;
  margin-top: 1em;
  

  
  

}

.carte img
{
  width: 100%;
  border-radius: 25px;
  margin: 15px 30px 15px 15px;
  
}

.popu
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 25px;
  margin: 15px 30px 30px 30px;
  
}

.top
{
  flex: 30%;
  margin: 30px 30px;
  margin-bottom: 1em;
  margin-top: 1em;

}

.top img
{
   width: 100%;
   border-radius: 25px;
   margin: 15px 30px 15px;
   flex-direction: column;
  
}

.navigation a
{
   color: black;
   text-decoration: none;
   font-family: Raleway;
 


}

.navigation a:hover
{
  color: #0065FC;
}

.navigation a:active
{
  color: #DEEBFF;

} 

a
{
   color: black;
   font-family: Raleway;
}

p
{
   color: grey;
}

a.button
{
   display: inline-block;
   border-radius: 11px;
   border: 1px solid grey;
   text-decoration: none;
   font-family: raleway;
   margin: 15px 8px;
   font-size: 14px;
   border-radius: 2rem;
   padding: 10px;
}

.bloctop
{
   display: flex;
   flex-wrap: wrap;
   border-radius: 25px;
}
