
/*.container
{
   display: flex;
   flex: 65%;
   background: #F2F2F2;
   flex-direction: column;
   border-radius: 25px;
}

#populaire
{
   
   display: flex;
   flex: 25%;
   background-color: #F2F2F2;
   border-radius: 25px;
   margin: 15px 30px 30px 30px;
   

}
*/

/*NAVIGATION*/

.navigation
{
   margin: 0px;
   justify-content: flex-end;
   color: black;
}

.flexcentre
{
 display: flex;
 justify-content: center;
 align-items: center;
}

.flexAround
{
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.decorationNone
{
  text-decoration: none;

}

.liens 
{
   width:45%;
   
}

.lien
{
  width: 100px;
  height: 99px;
}

.colorLien13
{
  color: #0065FC;
}

.colorLien2
{
  color: black;
}


.menu
{
   display: flex;
   justify-content: space-between;
   border-radius: center;

}

.bordureNav
{
 border-top: 1px solid #0065FC;

}
.Nav
{
   height: 100px;
}

.bordureSearch
{
   width: 400px;
   border-radius: 10px;
   border: 0.5px solid white;
}

.texteGras
{
  font-weight: bold;

}

.bordureNone
{
   border: none;
}

.iconeSize
{
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px ;
  background-color: #F2F2F2;

}

.paddingSearch
{
   padding-left: 20px;
}

.recherche
{
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.boutonSearch
{
  height: 40px;
  width: 100px;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;

}

/* FILTRE */

.filtreTexteIcone
{
   border: 2px solid #F2F2F2;
   height: 50px;
   border-radius: 30px;
   margin-right: 20px;
   
}

.filtreIcone
{
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: blue;
  background-color: #DEEBFF;
}

.flexbetween
{
   display: flex;
   border-radius: center;
}

.margeFiltreTitre
{
   margin-right: 20px;
}

.margFiltre
{
  margin-top: 50px;
  margin-bottom: 40px;

}

.filtre
{
   display: flex;
   align-items: center;
}

.filtreTexte
{

   height: 50px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 0 25px 25px 0;
}

.filtreTexteIcone:hover > .filtreTexte 
{
  color: #0065FC;
}

.filtreTexteIcone:hover >  .filtreIcone

{
   color: white;
   background-color: #0065FC;
}

/* INFO */

.info
{
   display: flex;
   align-items: center;
}

.parentIcone
{
   width: 20px;
   height: 20px;
   border: 2px solid white;
   border-radius: 25px;
   color: #0065FC;
}

/* HEBERGEMENT */

.sizeHebergement
{
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
  
}

.sizePopulaire
{
  flex: 1;
  height: 650px;
  margin-left: 20px;
  background-color: #F2F2F2;
}

.imgHebergements1
{
  background-image: url("./images/hebergements/small/petite_cannebiere.jpg");
  background-size: cover;
  background-position: center;
}






/*#hebergement
{
   display: flex;
   justify-content: space-between;
}

.cartes
{
   display: flex;
   flex-wrap: wrap;
   border-radius: 25px;
   margin: 15px 30px 15px 20px;
   
}

.carte
{
  flex: 30%;
  border: 1px solid white;
  border-radius: 25px;
  margin-bottom: 1em;
  margin-top: 1em;
  
}

.carte img
{
  width: 100%;
  border-radius: 25px;
  margin: 15px 30px 15px 15px;
  flex-direction: column;
  
}

.cartes img
{
   border-radius: 25px;

}

.popu
{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  border-radius: 25px;
  margin: 15px 30px 30px 30px;
  flex-direction: column;
  
  
}

.top
{
  flex: 30%;
  margin-bottom: 1em;
  margin-top: 1em;
  display: flex;
  border-radius: 25px;
}



.navigation a
{
   color: black;
   text-decoration: none;
   font-family: Raleway;
 }

.navigation a:hover
{
  color: #0065FC;
}

.navigation a:active
{
  color: #DEEBFF;

} 

a
{
   color: black;
   font-family: Raleway;
}

p
{
   color: grey;
}



a.button
{
   display: inline-block;
   border-radius: 11px;
   border: 1px solid grey;
   text-decoration: none;
   font-family: raleway;
   margin: 15px 8px;
   font-size: 14px;
   border-radius: 2rem;
   padding: 10px;
}

.bloctop
{
   display: flex;
   flex-wrap: wrap;
   border-radius: 25px;
   flex-direction: column;
}

.imgsoleil
{
   background-image: url("images/hebergements/small/hotel_le_soleil_du_matin.jpg");
   
}

.imghote
{
   background-image: url("images/hebergements/small/au_coeur_de-la-chambre-dhotes.jpg");

}

.imgpopulaire
{
   height: 100px;
   width: 100%;
   background-size: cover;
   flex: 30%;
   border-radius: 25px;
   
}

.textepopulaire
{
   flex: 65%;
   flex-direction: column;
   margin: 0px 10px;

}

.imgcanebiere

{
   background-image: ;
 
}

.imgamina 
{
   background-image: url("images/hebergements/small/hotel_chez_amina.jpg");
}

.imgmouette
{
   background-image: url("images/hebergements/small/hotel_les_mouettes.jpg");
}

.imgmer
{
   background-image: url("images/hebergements/small/hotel_de_la_mer.jpg");
}

.imgpanier
{
   background-image: url("images/hebergements/small/auberge_le_panier.jpg");
}

.imgport
{
   background-image: url("images/hebergements/small/hotel_du_port.jpg");
}

.imgbleublanc
{
   background-image: url("images/hebergements/small/hotel_tout_bleu_blanc.jpg");
}
*/




