
nav ul 
{
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   justify-content: flex-end;
   
}

nav li
{
   list-style-type: none;
   display: inline-block;
}


#item
{
   width: 900px;
   height: 100px;
   margin: 10px;
   background-color: silver;
   flex-shrink: 0;
   overflow: hidden;
}

.container
{
   display: flex;
   flex: 65%;
   background: silver;
   flex-direction: column;
   
}

.populaire
{
   
   display: flex;
   flex: 25%;
   background-color: silver;

}

.navigation
{
   margin: 0px;
   justify-content: flex-end;
}

.menu
{
   display: flex;
   justify-content: space-between;

}

#hebergement
{
   display: flex;
   justify-content: space-between;
   

}

.cartes
{
   display: flex;
   flex-wrap: wrap;

}

.carte
{
  flex: 30%;
  background-color: pink;

}

.carte img
{
  width: 100%;
}